:root {
    --main-bg-color: #fffefe;
    --secondary-bg-color: #f1f3f4;
    --text-color: #333333;
    --text-color-secondary: #feffff;
    --button-bg-color: #f28321;
    --icon-bg-color: #f28322;
    --icon-color: #fffefe;
    --footer-bg-color: #1d1c1c;

    --title-text-size: 40px;
    --primary-text-size: 25px;
    --secondary-text-size: 20px;

}

#menu-btn  {
    display: none;
}
.layout-menu-btn{
    width: 0;
    height: 0;
}

body{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

section, header{
    padding: 20px 7.5%;
    width: 85%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

h2{
    font-size: var(--title-text-size);
}
h3{
    font-size: var(--primary-text-size);
}

p,a{
    font-size: var(--secondary-text-size);
}
.texto_destacado{
    font-size: var(--primary-text-size);
    margin: 20px 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    height: 100%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

label{
    height: 100%;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0 20px;
}
.telefone{
    font-weight: bold;
    padding-left: 30px;
    margin: 0;
}
.telefone img{
    vertical-align:middle;
}
#banner{
    background: rgba(0,0,0,.5) url(../imagens/banner.jpg);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
}
.banner_conteudo{
    margin: auto;
    text-align: center;
    width: 980px;
}
.banner_conteudo h2, .banner_conteudo p{
    color: var(--text-color-secondary);
}
button {
    background-color: var(--button-bg-color);
    color: var(--text-color-secondary);;    
    border: none;
    font-size: var(--secondary-text-size);
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 30px;
}

#produtos{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.icone_produto{
    width: 150px;
    height: 150px;
    /*border-radius: 50%;
    background-color: var(--icon-bg-color);*/
}
.produto{
    width: 230px;
    min-height: 100px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#sobre{
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.coluna1_sobre{
    width: 50%;
    margin: auto;
}
.coluna1_sobre p{
    margin: 40px 0;
}
.coluna2_sobre{
    width: 35%;
}
.coluna2_sobre img{
    width: 100%;
}
.lista_posts{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.post{
    width: 30%;
    min-height: 100px;
    background-color: var(--secondary-bg-color);
}
.blog h2{
    text-align: center;
}
.post img{
    width: 100%;
}
.post div{
    padding: 2.5%;
}
footer{
    padding: 5px 0;
    width: 100%;
    min-height: 30px;
    text-align: center;
    background-color: var(--footer-bg-color);
}
footer p{
    color: var(--text-color-secondary);    
}

@media only screen and (max-width: 1450px) {
    section, header{
        padding: 20px 1%;
        width: 98%;
    }
}

@media only screen and (max-width: 1260px) {
    :root{
        --title-text-size: 30px;
        --primary-text-size: 20px;
        --secondary-text-size: 15px;
    }
    h3{
        font-size: 20px;
    }
    a{
        padding: 0 10px;
    }
    header{
        height: 40px;
    }
    #banner{
        height: 400px;
    }
    #produtos{
        flex-wrap: wrap;

    }
    .produto{
        flex-basis: 40%;
    }
    .coluna2_sobre{
        width: 40%;
    }
    ul{
        padding: 0;
    }
}
@media only screen and (max-width: 865px) {
    .logo{
        position: relative;
        top: 0;
        left: 0;
        height: 40px;
    }
    label{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }
    header{
        width: 99%;
        padding: 20px 0 20px 1%;
    }
    
    label > nav {
        background-color: var(--main-bg-color);
        padding: 20px;
        display: none;
        margin-top: 60px;
    }

    
    label > nav > ul{
        flex-direction: column;
    }

    .telefone{
        padding-left: 0px;
    }
    li{
        padding: 10px 0;
        padding-left: 25px;
    }
    a, .telefone{
        font-size: 20px;
    }
    #menu-btn:checked + label > nav {
        display: block;
    }
    .layout-menu-btn {
        position: absolute;
        top: 20px;
        width: 35px;
        height: 35px;
        right: 1%;
    }

}

@media only screen and (max-width: 700px) {
    .lista_posts{
        flex-direction: column;
    }
    .post{
        width: 80%;
        margin: 20px auto;
    }
    .coluna2_sobre{
        display: none;
    }
    .coluna1_sobre{
        width: 100%;
    }
}